.page {
    background-color: teal;

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
}

.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 60px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.intro h1 {
    max-width: 500px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2.4px;
    text-wrap: balance;
    color: var(--text-primary);
}

.info {
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.startauction {
    background-color: #e5e7eb;
    padding: 2px;
    color: black;
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}