.roundedbox {
    background-color: #e5e7eb;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 500px;
    overflow-y: auto;
    overflow-x: unset;
}

.additem {
    background-color: #e5e7eb;
    padding: 2px;
    color: black;
    font-size: 50px;
    width: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none;
}

.par {
    color: black;
    margin: 20px;
}

.name {
    font-size: 1.8rem;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    line-height: 1.2;
    padding: 0.4em 0;
}

.number {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    line-height: 1;
    padding: 0.2em 0;
}

.description {
    font-size: 0.9rem;
    display: block;
    width: 100%;
    line-height: 1.6;
    padding: 0.6em 0;
    color: #555;
}

.header {
    color: black;
}