.roundedbox {
    background-color: #8c9199;
    border-radius: 16px;
    padding: 2rem;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
}

.name {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.bid {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    overflow-y: auto;
    margin-right: 20px;
    overflow-wrap: break-word;
}

.par {
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: 30px;
}

.remove {
    background-color: #e5e7eb;
    padding: 2px;
    color: black;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}