.roundedbox {
    background-color: #e5e7eb;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.additem {
    background-color: #e5e7eb;
    padding: 2px;
    color: black;
    font-size: 30px;
    width: 400px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none;
}

.par {
    color: black;
    margin: 20px;
}

.name {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    line-height: 1.2;
    padding: 0.4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initialBid {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    line-height: 1;
    padding: 0.2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.6;
    padding: 0.6em 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputDesc {
    color: black;
    background-color: #c4c6c9;
    height: 170px;
    width: 300px;
    padding: 10px;
}

.inputName {
    text-align: center;
    color: black;
    background-color: #c4c6c9;
    width: 350px;
    height: 50px;
    overflow-y: auto;
    line-height: 2em;
    font-size: 25px;
}

.inputBid {
    text-align: center;
    color: black;
    background-color: #c4c6c9;
    font-size: 50px;
    width: 150px;
    height: 50px;
    line-height: 1.1em;
    overflow-y: auto;
    font-size: 45px;
}